* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#open-button {
  position: fixed;
  background-color: #7d8453;
  color: #f5f3ef;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
}

.body {
  background-color: #f5f3ef;
  display: flex;
  height: 100vh;
}

#side-panel {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #305c7d;
  color: #f5f3ef;
  transition: 0.3s;
}

#main-content {
  
}
